{% extends 'messenger/base.html' %}

{% block title %}Список клиентов{% endblock %}

{% block content %}

<h1 class="text-center m-3">
    Список клиентов
    <hr class="border border-primary border-1 opacity-75">
</h1>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID клиента</th>
            <th scope="col">ФИО клиента</th>
            <th scope="col">Email клиента</th>
        </tr>
        </thead>
        <tbody>
        {% for client in object_list %}
        <tr>
            <th scope="row">
                <a class="btn btn-outline-secondary" href="{% url 'messenger:client_detail' client.pk %}">
                    {{ client.pk }}
                </a>
            </th>
            <td>{{ client.name }}</td>
            <td>{{ client.email }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}