{% extends 'messenger/base.html' %}

{% block content %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card border-primary m-4 p-3 text-center">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}

                {% if object %}
                <button type="submit" class="btn btn-primary m-2">
                    Сохранить изменения
                </button>
                <a class="btn" class="btn btn-secondary m-2" href="/">
                    Отмена
                </a>
                {% else %}
                <button type="submit" class="btn btn-primary">
                    Создать
                </button>
                {% endif %}
            </form>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}