{% extends 'messenger/base.html' %}

{% block title %}Информация о сообщении{% endblock %}

{% block content %}

{% include 'messenger/navbar.html' %}

<h1 class="text-center m-3">
    Сообщение №{{ object.pk }}
    <hr class="border border-primary border-1 opacity-75">
</h1>

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card border-primary m-4 p-3">
                <h3 class="card-header text-center">
                    {{ object.topic }}
                </h3>
                <div class="card-body">
                    <p class="card-text">{{ object.content }}</p>
                    <a href="{% url 'messenger:message_update' object.pk %}" class="btn btn-secondary">Редактировать</a>
                    <a href="{% url 'messenger:message_delete' object.pk %}" class="btn btn-danger">Удалить</a>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>

{% endblock %}