{% extends 'messenger/base.html' %}

{% block title %}Список пользователей{% endblock %}

{% block content %}

<h1 class="text-center m-3">
    Список пользователей
    <hr class="border border-primary border-1 opacity-75">
</h1>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID пользователя</th>
            <th scope="col">Email пользователя</th>
            <th scope="col">Статус активности</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for user in object_list %}
        <tr>
            <td>{{ user.pk }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.is_active }}</td>
            <td>
                {% if user.is_active == True and perms.users.can_block_users %}
                <form method="post" action="{% url 'users:block_user' user.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger m-1">
                        Заблокировать
                    </button>
                </form>
                {% else %}
                <form method="post" action="{% url 'users:unblock_user' user.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success m-1">
                        Разблокировать
                    </button>
                </form>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}