{% extends 'messenger/base.html' %}

{% block title %}Страница пользователя{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-primary m-3 p-3">
                <div class="card-body">
                    {% if object.first_name or object.last_name %}
                    <h1 class="fw-bold mb-3">
                        {{ object.first_name }} {{ object.last_name }}
                    </h1>
                    {% endif %}
                    <h5 class="card-text mb-3">
                        Email: {{ object.email }}
                    </h5>
                    {% if object.phone_number %}
                    <h5 class="card-text mb-3">
                        Телефон: {{ object.phone_number }}
                    </h5>
                    {% endif %}
                    <div>
                        <form method="post">
                            <a href="{% url 'users:user_update' object.pk %}"
                               class="btn btn-outline-primary">Редактировать профиль</a>
                            <a href="{% url 'users:user_update_password' object.pk %}"
                               class="btn btn-outline-primary">Изменить пароль</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card border-primary m-3 p-3 text-center">
                <h2>Мои клиенты</h2>
                <div class="card-body text-primary">
                    <a class="btn btn-outline-primary" href="{% url 'messenger:user_clients' user.pk %}">
                        Мои клиенты
                    </a>
                    <a class="btn btn-outline-primary" href="{% url 'messenger:client_create' %}">
                        Создать нового
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card border-primary m-3 p-3 text-center">
                <h2>Мои рассылки</h2>
                <div class="card-body text-primary">
                    <a class="btn btn-outline-primary" href="{% url 'messenger:user_mailings' user.pk %}">
                        Мои рассылки
                    </a>
                    <a class="btn btn-outline-primary" href="{% url 'messenger:mailing_create' %}">
                        Создать новую
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}